body {
	margin: 0;
	background-color: #fff;
	color: #fff;
}
img {
	border: none;
}

/* clearfix (to wrap around floating elements) */
.cf:before,
.cf:after {
    content: " "; 
    display: table;
}
.cf:after {
    clear: both;
}

/* #Font-Face */
@font-face {
    font-family: 'mecha_condensedregular';
    src: url('../fonts/mecha_condensed-webfont.eot');
    src: url('../fonts/mecha_condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mecha_condensed-webfont.woff') format('woff'),
         url('../fonts/mecha_condensed-webfont.ttf') format('truetype'),
         url('../fonts/mecha_condensed-webfont.svg#mecha_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mecha_condensedbold';
    src: url('../fonts/mecha_condensed_bold-webfont.eot');
    src: url('../fonts/mecha_condensed_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mecha_condensed_bold-webfont.woff') format('woff'),
         url('../fonts/mecha_condensed_bold-webfont.ttf') format('truetype'),
         url('../fonts/mecha_condensed_bold-webfont.svg#mecha_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* language header */
#langSwitch {
	text-align: center;
	font: 16px Arial, sans-serif;
	background-color: #000;
}
#langSwitch div {
	display: inline-block;
	padding: 10px;
	color: #888;
}
#langSwitch div:hover {
	color: #ccc;
	cursor: pointer;
}
#langSwitch .on {
	color: #fff;
}


.container {
	max-width: 1000px;
	margin: 0 auto;
	color: #000;
}
#top {
	width: 100%;
}
.background{
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}
#topmargin {
    background: url(../images/topleft_repeat.png) repeat-x;
	padding-top: 16px;
}
#top-illus {
	background-image: url(../images/top1.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin: 0 auto;
	height: 716px;
}
h1 {
	margin: 0;
}
h1 #logo {
	margin: 0 auto;
	display: block;
	padding-top: 16px;
}
#video-wrapper {
	width: 640px;
	margin: 0 auto;
	}
#video {
	position: relative;
	padding-bottom: 65%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	margin-top: 40px;
}
#video iframe,
#video object,
#video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#available {
	text-align: center;
}
#available p {
	display: inline-block;
	font-family: Helvetica, sans-serif;
	font-size: 26px;
	color: #000;
}
#available .social {
	display: inline-block;
}
#available .social a {
	display: inline-block;
	margin-left: 10px;
	width: 38px;
	height: 40px;
	background-position: 0 100%;
	background-repeat: no-repeat;
}
#available .social a:hover {
	background-position: 0 0;
}
.facebook-logo {
	background-image: url("../images/fb.png");
}
.twitter-logo {
	background-image: url("../images/tw.png");
}


#mid-illus {
	background-image: url(../images/mid.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin: 0 auto;
	height: 170px;
}
#midmargin {
	background-color: #000;
	height: 170px;
}


#bottommargin {
	background-color: #ffffee;
	height: 1500px;
}
#below {
	margin: 0 auto;
	height: 1500px;
	width: 740px;
}
.blood1 {
	background-image: url(../images/blood1.png);
	background-repeat: no-repeat;
	height: 355px;
	width: 428px;	
	position: absolute;
	left: 50px;
	z-index: -1;
}
.blood2 {
	background-image: url(../images/blood2.png);
	background-repeat: no-repeat;
	height: 535px;
	width: 723px;	
	position: absolute;
	right: 30px;
	margin-top: 300px;
	z-index: -1;
}
.blood3 {
	background-image: url(../images/blood3.png);
	background-repeat: no-repeat;
	height: 190px;
	width: 400px;	
	position: absolute;
	left: 280px;
	margin-top: 1320px;
	z-index: -1;
}
#story {
	width: 505px;
	padding-top: 40px;
	float: left;
}
#story p {
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
	font-size: 14px;
	line-height: 24px;
	color: #000;
}
.illus {
	width: 229px;
	float: left;
	padding-top: 60px;
	padding-left: 3px;
}
h2, h3 {
	font-family: 'mecha_condensedregular', Helvetica, sans-serif;
	font-size: 32px;
	color: #000;
}
#tribes {
	display: block;
	width: 740px;
	float: left;
	margin-top: 50px;
	padding-bottom: 40px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #000;
}
#box {
	width: 370px;
	height: 280px;
	float: left;
}
.player {
	display: block;
	height: 139px;
	width: 138px;
	margin: auto;
	margin-bottom: 20px;
}
h4 {
	font-family: 'mecha_condensedregular', Helvetica, sans-serif;
	font-size: 24px;
	color: #000;
	margin: 0 auto;
	text-align: center;
}
#tribes p {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	color: #000;
}
#howto {
	display: block;
	width: 740px;
	float: left;
	padding-bottom: 40px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.sofa {
	width: 508px;
	float: left;
	margin-top: -20px;
	padding-right: 20px;
	margin-right: 10px;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #333;
}
h5 {
	font-family: 'mecha_condensedregular', Helvetica, sans-serif;
	font-size: 24px;
	color: #000;
	margin: 0 auto;
}
#howto p {
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
	font-size: 14px;
	line-height: 18px;
	color: #000;
	margin-top: 5px;
}
#kickstarter {
	display: block;
	width: 740px;
	float: left;
}
#kickstarter p {
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
	font-size: 14px;
	line-height: 24px;
	color: #000;
	width: 520px;
}
.button {
	color: #fffff1;
	display: inline-block;
	font-family: 'mecha_condensedregular', Helvetica, sans-serif;
	font-size: 20px;
	padding: 16px 16px;
	text-decoration: none;
	background-color: #000;
}
footer {
	background-color: #000;
	height: 270px;
	max-width: 760px;
	margin: 0 auto;
}
#footermargin {
	background-color: #000;
	height: 270px;
}
#thanks {
	width: 360px;
	height: 160px;
	display: box;
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
	padding-top: 30px;
	float: left;
	clear: both;
}
h6 {
	font-family: 'mecha_condensedregular', Helvetica, sans-serif;
	font-size: 22px;
	color: #FFF;
	margin: 0 auto;
}
#social {
	width: 100px;
	height: 160px;
	display: box;
	padding-top: 30px;
	padding-left: 60px;
	float: left;
}
#social a {
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
	font-size: 12px;
	line-height: 24px;
	color: #FFF;
	text-decoration: none;
}
#contact {
	width: 100px;
	height: 160px;
	display: box;
	padding-top: 30px;
	padding-left: 60px;
	float: left;
}
#contact a {
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
	font-size: 12px;
	line-height: 24px;
	color: #FFF;
	text-decoration: none;
}
#copyright {
	width: 760px;
	display: block;
	color: #FFF;
	padding-top: 10px; padding-bottom: 10px;
	font-family: 'mecha_condensedregular', Arial, sans-serif;
	font-size: 18px;
	float: left;
	text-align: center;
}
#copyright a{
	color: #FFF;	
}


/* mobile */
@media screen and (max-width: 1000px) {
	#page {
		padding-left: 10px;
		padding-right: 10px;
	}
	#langSwitch {
		font-size: 14px;
	}
	#langSwitch div {
		padding: 8px;
	}
	h1 #logo {
		width: 200px;
		margin-top: -10px;
	}
	#top-illus {
		width: 100%;
	}
	#available {
		width: 320px;
	}
	#available .social {
		display: block;
	}
	#available p {
		font-size: 20px;
		margin-bottom: -8px;
	}
	#video-wrapper {
		width: 100%;
	}
	#video {
		max-width: 100%;
	}
	#middle {
		display: none;
	}
	#story {
		width: 320px;
		clear: both;
		float: none;
	}
	.illus {
		display: none;
	}
	h2, h3 {
		font-family: 'mecha_condensedregular', Helvetica, sans-serif;
		font-size: 28px;
		color: #000;
	}
	h4 {
		font-family: 'mecha_condensedregular', Helvetica, sans-serif;
		font-size: 22px;
		color: #000;
		margin: 0 auto;
		text-align: center;
	}
	#tribes {
		width: 320px;
		margin-bottom: -30px;
		text-align: center;
	}
	#box {
		width: 320px;
		margin-bottom: -30px;
		text-align: center;
	}
	#bottom {
		width: 100%;
		height: 2000px;
		background-color: #ffffee;
		margin-top: -220px;
		text-align: center;
	}
	#howto {
		width: 320px;
		clear: both;
		float: none;
		text-align: center;
	}
	#howto p{
		text-align: center;
	}
	.sofa {
		width: 90%;
		float: left;
		border-right-style: none;	
		margin-left: 20px;
		padding-bottom: 10px;
	}
	#kickstarter {
		width: 320px;
		clear: both;
		float: none;
		text-align: center;
	} 
	#kickstarter p {
		width: 320px;
		clear: both;
		float: none;
		text-align: center;
	} 
	footer {
		width: 100%;
		clear: both;
		float: none;
		height: 600px;
	}
	h6 {
		font-family: 'mecha_condensedregular', Helvetica, sans-serif;
		font-size: 18px;
		color: #FFF;
		margin: 0 auto;
	}
	#thanks {
		width: 320px;
		text-align: center;
		clear: both;
		margin-bottom: 20px;
	}
	#social {
		width: 320px;
		text-align: center;
		padding: 0;
		height: 120px;
	}
	#contact {
		width: 320px;
		text-align: center;
		padding: 0;
		height: 80px;
	}
	#copyright {
		width: 320px;
		text-align: center;
		padding: 0;
	}

}


